.background-container {
    background-image: url('../../../../YAY-project-fs76/docs/assets/fondoPartner.webp'); /* Asegúrate de que la ruta sea correcta */
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Asegúrate de que el contenedor tenga al menos la altura de la pantalla */
    padding: 20px; /* Espaciado interno */
    color: #494949; /* Color de texto */
}

form {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad para mejor legibilidad */
    border-radius: 8px;
}

/* EditPartnerProfile.css */
.map-completarPartner {
    width: 200px;  /* Ajusta al tamaño deseado */
    height: 200px; /* Ajusta al tamaño deseado */
    display: flex; 
    justify-content: center; 
    align-items: center; /* Centrado vertical */
    margin: 0 auto; /* Centrado horizontal */
}
