/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

body {
    font-family: Arial, sans-serif;
}

.btn {
    transition: transform 0.5s; 
}

.btn:hover {
    transform: scale(1.02); 
}

.btn:focus {
    outline: none; 
    box-shadow: none; 
}

h1, h2 {
    color:  #7c488f !important;
}

.custom-button {
    border: 1.5px solid #7c488f;
    color: '#494949';
    font-weight: '500'
}

.custom-button:hover {
    border:  1.5px solid #7c488f !important;
    color: black !important;
  }
  
  .custom-button:focus {
    border:  1.5px solid #7c488f !important;
    color: black !important;
    box-shadow: 0 0 0 0.2rem rgba(70, 69, 65, 0.5);
  }

