/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

.btn {
    transition: transform 0.2s; /* Transición suave */
}

.btn:hover {
    transform: scale(1.03); /* Aumenta el tamaño al pasar el mouse */
}

.btn:focus {
    outline: none; /* Elimina el borde */
    box-shadow: none; /* Elimina la sombra */
}

h1, h2 {
    color:  #7c488f !important;
}

.custom-button:hover {
    background-color: #A7D0CD !important;
    color: #494949 !important;
  }
  
  .custom-button:focus {
    background-color: #A7D0CD !important;
    color: #494949 !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 208, 0, 0.5);
  }