@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
.perfil-image-container {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.perfil-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.error-message {
    color: red;
    font-size: 18px;
}

.image-wrapper {
    position: relative;
    display: inline-block; /* Asegura que el botón se alinee con la imagen */
}

/* Estilos para la imagen de perfil (redonda) */
.perfil-image {
    width: 100px;         /* Ancho fijo */
    height: 100px;        /* Altura fija */
    margin: 10px;
    border-radius: 50%;   /* Hacer la imagen redonda */
    object-fit: cover;     /* Mantiene la proporción y recorta si es necesario */
}
.perfil-image:hover {
    transform: scale(1.1); /* Aumentar la imagen al 110% en hover */
}
.partnerPerfil{
    width: 100px;         /* Ancho fijo */
    height: 100px;        /* Altura fija */
    margin: 10px;
    border-radius: 50%;   /* Hacer la imagen redonda */
    object-fit: cover;  
}
.partnerPerfil:hover {
    transform: scale(1.1); /* Aumentar la imagen al 110% en hover */
}
/* Estilos para las imágenes del usuario (rectangulares) */
.user-image {
    width: 250px;         /* Ancho fijo para las imágenes del usuario */
    height: 150px;        /* Altura fija para mantener la proporción */
    margin: 10px;         /* Margen alrededor de la imagen */
    object-fit: cover;    /* Mantiene la proporción y recorta si es necesario */
    border: 2px solid #ccc; /* Borde opcional */
}



.delete-button {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: #de8f79; /* Color de fondo del botón */
    color: white; /* Texto blanco para el botón */
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.delete-button:hover {
    background-color: #7c488f; /* Color más oscuro en hover */
}

.user-images-container {
    padding: 20px;
}

.user-images-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.good-captures-message {
    color: orange;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-card {
    position: relative;
}
.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-secondary {
    margin-right: 10px; /* Espacio entre el botón de elegir y subir */
}

.btn {
    font-size: 0.875rem; /* Tamaño de fuente más pequeño */
}

.alert {
    border-radius: 4px; /* Bordes redondeados para las alertas */
}

.spinner-border {
    margin-right: 5px; /* Espacio entre el spinner y el texto */
}
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    padding: 10px; /* Un pequeño margen interno */
}

.modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 50%; /* Asegura que el modal no sea más grande que el 90% del ancho de la pantalla */
    max-height: 80%; /* Limita la altura máxima del modal */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para el modal */
}

.modal-image {
    width: 100%; /* Asegura que la imagen se ajuste al modal */
    max-width: 600px; /* Tamaño máximo para pantallas grandes */
    max-height: 80vh; /* Limita la altura al 80% de la pantalla */
    border-radius: 10px;
    object-fit: contain; /* Asegura que la imagen mantenga sus proporciones */
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

/* Estilos adicionales para hacer el modal más responsive */
@media (max-width: 768px) {
    .modal-content {
        max-width: 100%; /* El modal ocupará todo el ancho disponible en pantallas pequeñas */
        max-height: 80%; /* Limita la altura del modal en pantallas pequeñas */
        padding: 10px; /* Reduce el padding para pantallas pequeñas */
    }
    
    .modal-image {
        max-width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
        max-height: 70vh; /* Limita la altura en pantallas pequeñas */
    }

    .close {
        font-size: 20px; /* Reduce el tamaño del botón de cerrar en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .modal-content {
        padding: 5px; /* Reduce aún más el padding en dispositivos muy pequeños */
    }
    
    .modal-image {
        max-height: 60vh; /* Ajusta la altura máxima para pantallas muy pequeñas */
    }

    .close {
        font-size: 18px; /* Botón de cerrar más pequeño */
    }
}
