@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 540px;
    }

    .d-sm-flex {
        display: flex !important;
    }
}

@media (min-width: 768px) {
    .content-space-t-md-4 {
        padding-top: 5rem !important;
    }

    .container,
    .container-md,
    .container-sm {
        max-width: 720px;
    }

    .content-space-b-md-3 {
        padding-bottom: 7.5rem !important;
    }

    .content-space-t-md-0 {
        padding-top: 0 !important;
    }

    .mt-md-n5 {
        margin-top: -2rem !important;
    }

    .mb-md-0 {
        margin-bottom: 0 !important;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .w-md-75 {
        width: 75% !important;
    }
}

@media (min-width: 992px) {

    /* Para pantallas grandes (lg) */
    .container,
    .container-lg {
        max-width: 960px;
    }

    .content-space-t-lg-4 {
        padding-top: 7rem !important;
    }

    .content-space-b-lg-3 {
        padding-bottom: 8rem !important;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .w-lg-75 {
        width: 75% !important;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-xl {
        max-width: 1140px;
    }

    .content-space-t-xl-4 {
        padding-top: 9rem !important;
    }

    .content-space-b-xl-3 {
        padding-bottom: 10rem !important;
    }

    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .w-xl-75 {
        width: 75% !important;
    }
}


.gradient-y-three-sm-primary {
    background-image: linear-gradient(transparent, rgba(255, 89, 0, 0.075) 50%, transparent);
}
/* -----------------------------------------------------------LANDING PAGE 1: HEADER--------------------------------------------------------------- */


.typed-cursor--blink {
    animation: blink 0.75s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.mb-7 {
    margin-bottom: 3rem !important;
}

.zi-2 {
    z-index: 2 !important;
}

.display-4 {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 600;
    line-height: 1.2;
}

.h1,
h1 {
    font-size: calc(1.375rem + 1.5vw);
}

.text-highlight-warning {
    background-image: linear-gradient(to bottom, rgba(245, 202, 153, .5), rgba(245, 202, 153, .5));
}

[class*=text-highlight-] {
    background: left 1em / 1em .2em;
    background-repeat: repeat-x;
}

.typed-cursor {
    opacity: 1;
}

.lead {
    font-size: calc(1.25625rem + .075vw);
    font-weight: 400;
}


@media (min-width: 768px) {
    .position-md-absolute {
        position: absolute !important;
    }
}


@media (min-width: 576px) {
    .d-sm-flex {
        display: flex !important;
    }
}

.registraYay {
    transition: all .2s ease-in-out;
}

.saberMas {
    font-weight: 400;
    text-decoration: none;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}


img,
svg {
    vertical-align: middle;
}

.zi-n1 {
    z-index: -1 !important;
}

.mb-n10 {
    margin-bottom: -4.5rem !important;
}

.me-n7 {
    margin-right: -3rem !important;
}

.end-0 {
    right: 0 !important;
}

.bottom-0 {
    bottom: 0 !important;
}


/* --------------------------------------------------------LANDING PAGE 2: EVENTOS--------------------------------------------------------- */

@media (min-width: 992px) {
    .row-cols-lg-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
}

.card-ancla {
    position: relative;
    display: block;

}

.card-ancla-top-start {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1;
}

.card-imgagenLand {
    width: 100%;
}

.card-land .margen-body,
.card-land .card-footer,
.card-land .card-header,
.card-land .collapse .margen-body {
    padding-right: 0;
    padding-left: 0;
}

.margen-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}


@media (min-width: 1200px) {

    .h3,
    h3 {
        font-size: 1.3125rem;
    }
}

.landing-card a {
    text-decoration: none;
}

.landing-card {
    border: none;
}

.list-separator {
    margin-bottom: 0;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.small,
small {
    font-size: .875em;
}



.list-separator .list-inline-item:not(:last-child) {
    padding-right: 2rem;
}

.list-separator .list-inline-item {
    position: relative;
    margin-left: 0;
    margin-right: -.25rem;
}


.list-inline-item {
    display: inline-block;
}


.list-separator .list-inline-item {
    position: relative;
    margin-left: 0;
    margin-right: -.25rem;
}

.list-inline-item {
    display: inline-block;
}

.landing-card:hover {
    border: 1.5px solid #de8f79;
}

.landing-card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s, transform 1.5s;
    /* increased transition duration to 1.5 seconds */
}

.landing-card.animate {
    opacity: 1;
    transform: translateY(0);
}

.margen-body {
    padding-inline: 0;
    transition: padding-inline 0.3s ease-in-out;
}

.margen-body:hover {
    padding-inline: 8px;
}

.descripcion-card {
    padding-inline: 8px;
    transition: padding-inline 0.3s ease-in-out;
}

.descripcion-card:hover {
    padding-inline: 0px;

}

.mb-5 {
    margin-bottom: 2rem !important;
}

@media (min-width: 992px) {
    .row-cols-lg-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
}

/* --------------------------------------------------LANDING PAGE 3: ABOUT---------------------------------------------------------------------- */


@media (min-width: 992px) {
    .content-space-lg-3 {
        padding-top: 7.5rem !important;
        padding-bottom: 7.5rem !important;
    }
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

.svg-icon>svg {
    width: 3.125rem;
    height: 3.125rem;

}

.image-about {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    z-index: -1;
}
@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
}

.image-about::before {
    position: absolute;
    top: 50%;
    right: 100%;
    width: 80%;
    height: 80%;
    background-image: linear-gradient(transparent, rgba(252, 106, 15, 0.075) 50%, transparent);
    content: "";
    transform: translateY(-50%);
}

.cardAbout {
    border-width: 0;
    box-shadow: 0 .375rem 1.5rem 0 rgba(140, 152, 164, .125);
}

.gradiente-cifras{
    background-image: linear-gradient( rgb(167, 208, 205, 0.1) 50%, transparent, transparent);
}


/* --------------------------------------------------LANDING PAGE 4: MAPS---------------------------------------------------------------------- */


.nav-segment:not(.nav-fill) {
    display: inline-flex;
}
.nav-segment {
    position: relative;
    background-color: #f8fafd;
    padding: .25rem .25rem;
    border-radius: .5rem;
}



.navMap {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-color: #21325b;
    --bs-nav-link-hover-color: #494949;
    --bs-nav-link-disabled-color: #8c98a4;
    flex-wrap: wrap;
    list-style: none;
}


.nav-segment .nav-link.active {
    color: #1e2022;
    background-color: #fff;
    box-shadow: 0 .1875rem .375rem 0 rgba(140, 152, 164, .25);
}
.nav-segment .nav-link {
    color: #677788;
    font-size: .875rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
}
.nav-link.active {
    color: #21325b;
}


@media (prefers-reduced-motion: reduce) {
    .nav-link {
        transition: none;
    }
}

/* --------------------------------------------------LANDING PAGE 5: FORM---------------------------------------------------------------------- */

.landing-check {
    padding-left: 0;
    list-style: none;
}


.landing-check-item:not(:last-child) {
    margin-bottom: .5rem;
}


.card-formulario {
    border-width: 0;
    box-shadow: 0 .375rem 1.5rem 0 rgba(140, 152, 164, .125);
}


input:hover {
    box-shadow: none !important; /* Quita la sombra por defecto */
}

input:focus, textarea:focus {
    box-shadow: none !important; /* Quita la sombra en el estado de focus */
    border-color: #de8f79 !important;
}


/* --------------------------------------------------LANDING PAGE 8: Flecha scroll top---------------------------------------------------------------------- */


.go-to {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    width: 3.125rem;
    height: 3.125rem;
    background-color: rgba(113, 134, 157, .1);
    color: #677788;
    font-size: 1rem;
    opacity: .5;
    border-radius: 50%;
    transition: .3s ease-out;
}
.fadeInUp {
    animation-name: fadeInUp;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.position-fixed {
    position: fixed !important;
}
a {
    text-decoration: none;
}

@keyframes fadeInUp {
    
0% {
    opacity: 0;
    transform: translate3d(0, 15px, 0);
}

100% {
    opacity: 1;
    transform: none;
}
}

.flecha-top:hover, .flecha-top:focu {
    color: #de8f79
}


/* --------------------------------------------------LANDING PAGE 9: FOOTER---------------------------------------------------------------------- */
.content-space-t-2 {
    padding-top: 5rem !important;
}


.navbar-brand-logo {
    width: 100%;
    min-width: 7.5rem;
    max-width: 7.5rem;
}


.list-unstyled {
    padding-left: 0;
    list-style: none;
}


.list-py-1>li:not(:last-child) {
    padding-bottom: .25rem;
}

.mb-3 {
    margin-bottom: 1rem !important;
}



.mb-3 {
    margin-bottom: 1rem !important;
}


.my-7 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}


.text-white-50 {
    --bs-text-opacity: 1;
    color: rgba(255, 255, 255, .5) !important;
}


.list-inline-item:not(:last-child) {
    margin-right: .25rem;
}
.list-inline-item {
    display: inline-block;
}