

.sidebar {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar .list-group-item {
    cursor: pointer;
    color: #494949;
    transition: background-color 0.3s;
}

.sidebar .list-group-item:hover {
    background-color: #A7D0CD; /* Color de fondo al pasar el mouse */
    color: #494949;
}

.profile-card {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
