
.profile-container {
    background-color: #f8f9fa;
    padding: 20px;
}

.profile-header {
    background-color: #7c488f;
    padding: 20px;
    color: white;
    text-align: center;
}

.profile-content {
    display: flex;
    margin-top: 20px;
}

.profile-sidebar {
    width: 25%;
    margin-right: 20px;
}

.profile-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.profile-avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile-name {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.profile-email {
    font-size: 0.9rem;
    color: #6c757d;
}

.profile-nav {
    margin-top: 15px;
}

.profile-nav .nav-link {
    display: block;
    margin-bottom: 5px;
}

.profile-details {
    flex: 1;
}

.form-group {
    margin-bottom: 15px;
}

.gender-options {
    display: flex;
    gap: 15px;

}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}


.btn-save {
    background-color: #007bff;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.delete-account {
    background-color: #fff3f3;
    border: 1px solid #dc3545;
}